# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---- Virtual Environments ----
venv/
env/
ENV/
.venv/

# ---- Django ----
db.sqlite3
/media/
*.pem
*.key

# ---- VS Code ----
.vscode/
.history/
*.code-workspace

# ---- System Files ----
.DS_Store
Thumbs.db
desktop.ini

# ---- PyInstaller ----
*.spec
build/
dist/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Misc ----
*.bak
*.tmp
*.swp
*.swo
